<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/home-page">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" onkeyup="search_function()" id="search-input" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Status</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="#">Best Sellers</a></li>
                                                <li><a href="#">New Arrivals</a></li>
                                                <li><a href="#">Trending</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method ="get">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><input type="submit" class="btn btn-light" value="all"></li>
                                                    <li><input type="submit" class="btn btn-light" name="category" value="men"></li>
                                                    <li><input type="submit" class="btn btn-light" name="category" value="women"></li>
                                                    <li><input type="submit" class="btn btn-light" name="category" value="kids"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="?category={{category}}&tag=clothing">Clothing</a>
                                                <a href="?category={{category}}&tag=bags">Bags</a>
                                                <a href="?category={{category}}&tag=shoes">Shoes</a>
                                                <a href="?category={{category}}&tag=accessories">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                    </div>
                </div>
                <div class="row" id="list_products">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6" id="item1">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{img_main_1}}">
                                <ul class="product__hover">
                                    <li><a href="javascript:void(0);" onclick="push_to_wishlist(this)"><img
                                                src="../../img/icon/heart.png" name="heart" alt=""></a></li>
                                    <li><a href="/home-page/shop/{{id}}"><img src="../../img/icon/search.png"></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6 id="name_product">{{name}}</h6>
                                 <form method="post">
                                    <button type="submit" class="btn btn-light" name="productId" value="{{id}}">+ Add
                                        To Cart</a>
                                </form>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5 style="display: inline">${{price}}</h5>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->